%% -*- tab-width: 4;erlang-indent-level: 4;indent-tabs-mode: nil -*-
%% ex: ft=erlang ts=4 sw=4 et

{deps, [
   {proper, ".*", {git, "git://github.com/manopapad/proper.git", "HEAD"}},
   {emark,  ".*", {git, "git://github.com/ftrvxmtrx/emark.git", "HEAD"}}
]}.


{plugins, [emark_plugin]}.
%{erl_opts, [native]}.
